*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.container{
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}
main{
  width: 100%;
  padding: 20px;
  width: calc(576px / 2);
  background-color: white;
  border-radius: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
img{
  display: block;
  margin: auto;
  width: 100%;
  height: 248px;
  border-radius: 20px;
}
h1{
  color: hsl(218, 44%, 22%);
  margin-top: 10px;
  font-size: 20px;
}
p{
  color: hsl(220, 15%, 55%);
  margin-top: 10px;
  font-size: 15px;
}
